/**
 * Stylesheet bij THAiSi
 * thaisi at servicez dot org
 *
 */

#markAsRead {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	font-size: 80%;
	text-align: right;
}
#topicList {
	width: 90%;
	margin-left: auto;
	margin-right: auto;

	margin-top: 5px;
	margin-bottom: 20px;
}
#topicList table.topics-table {
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 100%;
}
#topicList table.topics-table thead th { font-size: 80%;
	border-bottom: 1px solid black;
}
#topicList table.topics-table th.odd { background-color: #E9E1D3; }
#topicList table.topics-table th.even { background-color: #E9CFA2; }
div.buttonBar {
	text-align: left;
	padding-left: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #E9B75F;
	border: 1px solid black;
}
div.buttonBar a {
	font-weight: bold; text-decoration: none;
	color: #4C3C1F;
	border: 1px solid #AC8746;
	background-color: #D6A857;
	padding-left: 3px;
	padding-right: 3px;
}
div.buttonBar a:hover {
	font-weight: bold; text-decoration: none;
	color: black;
	border: 1px solid #AC8746;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #F6CF8A;
}
#topicList table.topics-table thead th.lastreaction { width: 15%; }
#topicList table.topics-table thead th.nrread,
#topicList table.topics-table thead th.nrreact,
#topicList table.topics-table thead th.starter { width: 10%; }

#topicList table.topics-table tbody td {
	font-size: 80%;
}
#topicList table.topics-table thead th.subject { background-color: #E9E9E9; }


#topicList table.topics-table tbody tr.oddRow td.evenCell { background-color: #E9AE45; }
#topicList table.topics-table tbody tr.oddRow td.oddCell { background-color: #E9BE72; }

#topicList table.topics-table tbody tr.evenRow td.evenCell { background-color: #E9A630; }
#topicList table.topics-table tbody tr.evenRow td.oddCell { background-color: #E9B75F; }

#topicList table.topics-table tbody td.check,
#topicList table.topics-table tbody td.read,
#topicList table.topics-table tbody td.icon { width: 18px; text-align: center; }

#topicList table.topics-table tbody td.subject { text-align: left; padding-left: 10px; }

#topicList table.topics-table td.starter { text-align: center; }
#topicList table.topics-table td.nrreact { text-align: center; }
#topicList table.topics-table td.nrread { text-align: center; }
#topicList table.topics-table td.lastreaction { text-align: center; }

#topicList table.topics-table td.lastreaction a { font-size: 80%; color: black; text-decoration: none; }
#topicList table.topics-table td.lastreaction a:hover { font-size: 80%; color: black; text-decoration: underline; }
.postCount { font-size: 75%; }

#topicList .rowgroup {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #D6982C; text-align: left; font-size: 80%;
}

.boardPageBar {
	text-align: right;
	margin-top: 10px;
}

span.topicPageNav { font-size: 90%; }
span.topicPageNav a { text-decoration: none; }

span.highlight0 { background-color: yellow; }
span.highlight1 { background-color: green; }
span.highlight2 { background-color: pink; }
span.highlight3 { background-color: orange; }
span.highlight4 { background-color: red; }
span.highlight5 { background-color: blue; }
